body{
    background: #ffffcc;
}

.submitCard{
    border: 1px solid;
    width: 400px;
    height: 470px;
    padding-left: 55px;
    background-color: #ffff4d;
    border-radius: 13px 13px 13px 13px;

}

form{
    padding-left: 20px;
}

.sendB{
    width: 80%;
    height: 30px;
    background: black;
    color: white;
    border-width: 0px;
    }