

.submitCard{
    border: 1px solid;
    width: 400px;
    height: 530px;
    padding-left: 55px;
    background-color: #e6f2ff;
    box-shadow: 5px 5px 15px 5px #000000;

}

form{
    padding-left: 20px;
}

.sendB{
    width: 80%;
    height: 30px;
    background: black;
    color: white;
    border-width: 0px;
    }

.submitCard  input{
    width: 80%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
}